@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@media screen and (max-width: 767px) {

  .header-logo{
    height: auto !important;
    width: 70px !important;
  }
  .donwload-btn {
    margin-top: 10px !important;
    background-color: #0b8fac;
    color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
  }

  .down-btn-2 {
    display: revert !important;
    justify-content: center;
    align-items: center;
  }

  .table-css {
    background-color: #f4f4f4;
    border-radius: 20px;
    padding: 20px !important;
  }

  .seach-bar-container {
    display: flex;
    align-items: center;
    gap: 10px !important;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
  .seach-bar {
    height: 60px !important;
    flex-grow: 1;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 25px;
    padding: 5px 10px;
  }

  .new-migrant-btn {
    font-family: "Poppins", sans-serif;
    height: 60px !important;
    border-radius: 20px;
    background-color: #0b8fac;
    color: #ffffff;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .seach-bar-container-gov-dash {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px !important;
    padding-right: 40px !important;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px !important;
    background-color: #ffffff;
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
    /* border-radius: 8px; */
    border-bottom: 1px solid #c5c5c5 !important;
  }
  .logout-btn {
    font-size: 10px;
    border-color: #0b8fac;
    border-radius: 15px;
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  .logout-arrow-img {
    height: 10px !important;
    width: 10px !important;
  }
  .mobile-alignment{
    vertical-align: middle;
  }
}



.body-admin-login {
  /* background: url("/Users/chathila/Desktop/medihouse/public/images/login-back-img.jpeg")
    no-repeat center center fixed; */
  background-size: cover;
  font-family: "Inter", sans-serif;
}

.card {
  background-color: #ffffff; /* Slight transparency for the card */
  border: none;
  border-radius: 16px;
}

.card img {
  max-width: 100px;
  margin-bottom: 10px;
}

input::placeholder {
  font-size: 14px;
}

.btn-enter {
  background: linear-gradient(90.85deg, #0b8fac 0%, #197c92 101.37%);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  color: #ffffff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.main-head {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 29.78px;
}

.input-icon {
  margin-bottom: 0px !important;
}

.back-clr-input {
  border-right: none !important;
  background-color: #ffffff !important;
}

.input-height {
  border-left: none !important;
  height: 45px !important;
  color: #000000;
}

.forgot-pass-css {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #000000;
}

/* Admin Dashboard */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); */
  /* border-radius: 8px; */
  border-bottom: 1px solid #c5c5c5 !important;
}
.logo {
  display: flex;
  align-items: center;
}
.logo img {
  height: 50px;
  margin-right: 10px;
}
.search-bar {
  font-family: "Poppins", sans-serif;
  margin: 20px 0;
  position: relative;
}
.search-bar input {
  font-family: "Poppins", sans-serif;
  width: 100%;
  padding-right: 50px;
  border-radius: 8px;
}
.search-bar button {
  font-family: "Poppins", sans-serif;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border-radius: 0 8px 8px 0;
}
.table-container {
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.table th {
  border: none;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  text-align: left;
  font-weight: normal;
}
.table td {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
  text-align: left;
  background-color: #ffffff !important;
}
.btn-download {
  font-family: "Poppins", sans-serif;
  background-color: #00bcd4;
  border: none;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.btn-download:hover {
  background-color: #008c9e;
}

.data-padding {
  padding-left: 20px;
}

.table-striped > tbody > tr:nth-of-type(odd) > * {
  --bs-table-accent-bg: #ffffff;
  color: var(--bs-table-striped-color);
}

.new-migrant-btn {
  font-family: "Poppins", sans-serif;
  font-family: "Poppins", sans-serif;
  border-radius: 20px;
  background-color: #0b8fac;
  color: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
}

.logout-btn {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: #243352;
  border-color: #0b8fac;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.seach-bar-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.seach-bar-container-gov-dash {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 120px;
  padding-right: 120px;
}

.seach-bar {
  font-family: "Poppins", sans-serif;
  flex-grow: 1;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 5px 5px 5px 20px;
}

.table-css {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
  border-radius: 20px;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 80px;
  padding-right: 80px;
  min-height: 520px;
}

.donwload-btn {
  font-family: "Poppins", sans-serif;
  background-color: #0b8fac;
  color: #ffffff;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.down-btn-2 {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
}

.search-result-container {
  font-family: "Poppins", sans-serif;
  display: flex;
  /* justify-content:center; */
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  background-color: #ffffff;
}

.result-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.patient-name,
.receipt-number {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #333;
}

.search-result-container2 {
  font-family: "Poppins", sans-serif;
  line-height: 40px;
  justify-content: center;
  /* justify-content:center; */
  align-items: center;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  background-color: #ffffff;
}

.label-css-form {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20 !important;
  padding-bottom: 7px;
  color: #000000;
}

.custom-input-group {
  font-family: "Poppins", sans-serif;
  position: relative;
  width: 100%;
}

.custom-upload-field {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  font-size: 14.9px;
  color: #aab6c1;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 50px;
  cursor: pointer;
  background-color: #fff;
}

.custom-upload-field:hover {
  border-color: #007bff;
}

.placeholder-text {
  font-family: "Poppins", sans-serif;
  color: #aab6c1;
  font-weight: 400;
  flex-grow: 1;
}

.input-icon img {
  width: 20px;
  height: 20px;
  opacity: 0.6;
}

input[type="file"] {
  display: none; /* Hidden input field */
}

.form-submit-btn {
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  width: 200px;
  height: auto;
  background-color: #0b8fac;
  padding: 10px;
  gap: 10px;
  border-radius: 20px;
  opacity: 0px;
}

.custom-upload-field::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14.9px;
  font-weight: 400;
  color: #aab6c1;
}

.logout-arrow-img {
  font-family: "Poppins", sans-serif;
  height: 15px;
  width: 15px;
}

.search-bar-icon {
  font-family: "Poppins", sans-serif;
  height: 15px;
  width: 15px;
}

.admin-dash-search-pnaceholder::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #8a8a8a;
  font-weight: 300;
}

.donwload-btn:hover {
  background-color: #047993 !important;
  color: #ffffff;
}

.down-btn-2 :hover {
  background-color: #047993 !important;
  color: #ffffff;
}

.new-migrant-btn:hover {
  background-color: #047993 !important;
  color: #ffffff;
}

.logout-btn:hover {
  background-color: #047993;
  border-color: #0b8fac;
  /* background-color: #047993 !important; */
  /* color: #FFFFFF; */
}

.form-submit-btn:hover{
  background-color: #047993 !important;
  color: #ffffff;
}

.btn-enter:hover{
  background-color: #047993 !important;
  color: #ffffff;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
  /* border: none !important; */
}

.login-palceholder::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #000000;
}

.gov-dash-search-placeholder::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400 !important;
  color: #000000 !important;
}

